body
{
    background-color: #ccc;
    padding: 0px;
    margin: 0px auto;
    width: 1140px;
}

#wrapper
{
    border-top: 5px solid #a8206c;
    border-bottom: 5px solid #a8206c;
    margin: 0px;
    padding: 0px;
}

.container
{
    padding: 10px;
    background-color: ;
}

h1
{
    text-align: center;
    background-color:  ;
    margin: 0px;
    color: #5d5d5d;
    padding: 15px;
    font-family: "Helvetica Neue",Helvetica;
    font-size: 24pt;
}

#header
{
    background-color: #fff;
}

#logo
{
    background-color: ; 
}

#logo h1
{
    background-color: ;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica;
    font-size: 90pt;
    width: 55%;
    height: 150px;
    float: left;
    margin: 0px;
    padding: 0px;
}

#logo img
{
    background-color:orange ;
    width: 45%;
    float: left;
    height: 160px;
}

#about
{
    background-color:  ;
}

#about h2
{
    margin-left: 2px;
    font-size: 18pt;
    text-align: center;
    color: #626366;
    margin: 0px;
    padding: 0px;
    font-family:"Helvetica Neue",Helvetica;
}

#landingPgImage
{
    background-image: url(../images/Capture1.PNG);
    background-position: center;
    height: 500px;
}

#products
{
    background-color: #fff;
}

#productIcons
{
    background-color: ;
}

.sms
{
    float: left;
    background-color: ;
}

.sync
{
    float: left;
    background-color: ;
}

.cloud
{
    float: left;
    background-color: ;
}

#functions
{
    background-color:  #a7a9ab;
    margin: 0px;
    padding: 10px;
    font-size: 14pt;
    color: #fff;
    font-family:"Helvetica Neue",Helvetica;
}

#functions h3
{
    font-size: 14pt;
    color: #fff;
    font-family:"Helvetica Neue",Helvetica;
    margin: 0px;
    padding: 0px;
}

#functions p
{
    font-size: 12pt;
    color: #fff;
    font-family:"Helvetica Neue",Helvetica;
}

.send
{
    width: 32%;
    float: left;
    padding: 5px;
    background-color: ;
    text-align: center;
}

.manage
{
    width: 33%;
    float: left;
    padding: 5px;
    background-color: ;
    text-align: center;
}

.automate
{
    width: 32%;
    padding: 5px;
    background-color: ;
    text-align: center;
    float: left;
}

#mapCoverage
{
    background-color: #fff;
}

#mapCoverage h1
{
    text-align: center;
    margin: 0px;
    padding: 15px;
    
}

#testimonials
{
    background-color:  #a7a9ab ;
    color: #fff;
}

.quotes
{
    background-color:   #a7a9ab  ;
    margin: 0px 100px 0px 100px;
    color: #fff;
    padding: 10px;
}

#testimonials p
{
    margin: 0px;
    font-size: 18pt;
    padding: 10px;
    background-color: ;
    font-family:"Helvetica Neue",Helvetica;
}

#testimonials span
{
    font-size: 15pt;
    margin-left: 700px;
    font-family:"Helvetica Neue",Helvetica;
}

#partners
{
    background-color: #fff;
}

#partners ul
{
    margin: 0 auto;
    background-color: ;
    max-width: 1270px;
    
}

#partners ul li
{
    display: inline-block;
    background-color:;
    margin-left: 80px;
}

#gettingStarted
{
    background-color:  #a7a9ab ;
    color: #fff;
}

#gettingStarted h2
{
    font-size: 23px;
    margin: 0px;
    color: #fff;
    padding: 10px;
    font-family:"Helvetica Neue",Helvetica;
}

#gettingStarted h1
{
    color: #fff;
}

#pricing
{
    background-color: #fff;
}

#footer
{
    background-color:  #a6206b;
    padding: 20px;
}

.foot
{
    background-color: ;
}

.info
{
    float: left;
    width: 548px;
    background-color: ;
}

.info h1
{
    margin: 0px;
    padding: 0px;
    color: #fff;
    text-align: left;
    margin-left: 80px;
}

.info p
{
    color: #fff;
    text-align: justify;
    margin: 10px 80px 0px 80px;
    font-size: 20px;
    font-family:"Helvetica Neue",Helvetica;
}

.contact
{
    float: left;
    width: 548px;
    background-color: ;
    border-left: 4px solid #fff;
}

.contact h1
{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family:"Helvetica Neue",Helvetica;
    text-align: left;
    margin-left: 70px;
}

ul
{
    margin: 0px;
    padding: 10px;
    background-color:;
    font-family:"Helvetica Neue",Helvetica;
}

 ul li
{
    display: list-item;
    list-style-type: none;
    padding: 5px;
}

 ul li a
{
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
    color: #fff;
}