header
{
    background-color: #929497;
}

#about h1
{
    text-align: center;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 35px;
    color:  #a7a9ab ;
}

#hero
{
    margin-top: 30px;
}

#boxout
{
    margin-top: 90px;
    font-family:Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #a7a9ab;
}

#showBtn
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#showSignUp
{
    background-color: #A7166A;
    font-family:Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    border:1px solid transparent;
    border-color: #98105E;
    background-image: none;
}

.btn-primary:hover
{
    background-color: #A7166A;
    background-image: none;
}

#sign-up-form
{
    background-image: url(../images/SIGN-UP-FORM.png);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#signup-subtitles
{
    margin-top: 40px;
    margin-bottom: 40px;
}

#sign-up-form h2
{
    text-align: center;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #fff;
}

#sign-up-form p
{
    text-align: center;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 20px;
    color:  #fff ;
}

#sign-up-form input[type=text], 
#sign-up-form input[type=password], 
#sign-up-form select {
    width: 100%;
}

#form
{
    margin-bottom: 50px;
}

.terms
{
    color: #fff;
}

.signup-button
{
    background-color: #fff;
    border-color: #98105E;
    border:1px solid transparent;
    color: #a7166a;    
}

#btnSignup:focus, 
#btnSignup:hover
{
    background-color: #a7166a;
    color: #fff;
}

.frontline-error
{
    color: #fff;
    font-weight: normal;
}

#products
{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    background-image: url(../images/LaptopP.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#small
{
    margin-top: 25px;
    margin-bottom: 25px;
}

#products h3
{
    font-size: 18pt;
    color: #fff;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
}

#products p
{
    color: #fff;
    font-size: 14pt;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
}

#infographic
{
    margin: 40px 0px;
}

/* Extra Small devices (768px and below) */
@media (max-width:768px)  
{
    #quotes
    {
        background-color: #929497;
        color: #fff;
        font-size: 18pt;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    #quotes p
    {
        font-size: 18pt;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:lighter;
    }

    #quotes span
    {
        font-size: 15pt;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:lighter;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px)  
{
    #quotes
    {
        background-color: #929497;
        color: #fff;
        font-size: 18pt;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    #quotes p
    {
        font-size: 18pt;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }

    #quotes span
    {
        font-size: 15pt;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px)  
{
    #quotes
    {
        background-color: #929497;
        color: #fff;
        font-size: 18pt;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    #quotes p
    {
        font-size: 18pt;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }

    #quotes span
    {
        font-size: 15pt;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px)  
{
    #quotes
    {
        background-color: #929497;
        color: #fff;
        font-size: 18pt;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    #quotes p
    {
        font-size: 18pt;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }

    #quotes span
    {
        font-size: 15pt;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }
}

#integrations
{
    padding-top: 30px;
    padding-bottom: 40px;
}

#integrations h2
{
    text-align: center;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #a7a9ab;
}



#getting-started
{
    background-image: url(../images/Slack%20for%20iOS%20Upload.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#start
{
    color: #fff;
    font-size: 175px;
    margin-top: 20px;
}

#getting-started h2 a
{
    color: #fff;
    font-family:Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 24px;
    margin: 0px;
}

/* Recent Blog Post*/
#recent-blog-post 
{
}

.recent-post-excerpt-container 
{
    display:inline-block;
    width:70%;
    height:162px;
    vertical-align: top;
    padding: 10px;
}

#customers
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

#customers h2
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #a7a9ab;
    margin-bottom: 30px;
}

#customers ul li
{
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

#customers img
{
    width: auto;
    height: 100px;
}

#pricing
{
    background-image: url(../images/LaptopP.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:50px;
    padding-bottom: 50px;
}

#location
{
    background-color: #F0EDE5;
}

#nairobi,
#dc
{
    padding: 0px;
}

.thumbnail
{
    margin-bottom: 10px;
    margin-top: 10px;
}

#footer
{
    background-color:  #a6206b;
    padding: 30px 0px 0px 0px;
}

#info
{
    border-right: 4px solid #fff;
}
    
@media (max-width:1199px)
{
    #info
    {
        border-right:none;
    }
}

#info h1
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 35px;
    color: #fff;
    margin-left: 70px;

}

#info p
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 20px;
    color: #fff;
    margin: 10px 70px;
}

#contact h1
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 35px;
    color: #fff;
    margin-left: 70px;
}

#contact ul
{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 20px;
    color: #fff;
}

 #contact ul li
{
    display: list-item;
    list-style-type: none;
    padding-bottom: 18px;
}

 #contact ul li a
{
    text-decoration: none;
    font-size: 20px;
    margin-left: 70px;
    color: #fff;
    font-weight: lighter;
}