header
{
    background-color: #929497;
}

#about h1
{
    text-align: center;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 35px;
    color:  #a7a9ab ;
}

#hero
{
    margin-top: 30px;
}

#boxout
{
    margin-top: 90px;
    font-family:Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #a7a9ab;
}

#showBtn
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#showSignUp
{
    background-color: #A7166A;
    font-family:Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    border:1px solid transparent;
    border-color: #98105E;
    background-image: none;
}

.btn-primary:hover
{
    background-color: #A7166A;
    background-image: none;
}

#sign-up-form
{
    background-image: url(../images/SIGN-UP-FORM.png);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#signup-subtitles
{
    margin-top: 40px;
    margin-bottom: 40px;
}

#sign-up-form h2
{
    text-align: center;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #fff;
}

#sign-up-form p
{
    text-align: center;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 20px;
    color:  #fff ;
}

#sign-up-form input[type=text], 
#sign-up-form input[type=password], 
#sign-up-form select {
    width: 100%;
}

#form
{
    margin-bottom: 50px;
}

.terms
{
    color: #fff;
}

.signup-button
{
    background-color: #fff;
    border-color: #98105E;
    border:1px solid transparent;
    color: #a7166a;    
}

#btnSignup:focus, 
#btnSignup:hover
{
    background-color: #a7166a;
    color: #fff;
}

.frontline-error
{
    color: #fff;
    font-weight: normal;
}

#products
{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    background-image: url(../images/LaptopP.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#small
{
    margin-top: 25px;
    margin-bottom: 25px;
}

#products h3
{
    font-size: 18pt;
    color: #fff;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
}

#products p
{
    color: #fff;
    font-size: 14pt;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
}

#infographic
{
    margin: 40px 0px;
}

/* Extra Small devices (768px and below) */
@media (max-width:768px)  
{
    #quotes
    {
        background-color: #929497;
        color: #fff;
        font-size: 18pt;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    #quotes p
    {
        font-size: 18pt;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:lighter;
    }

    #quotes span
    {
        font-size: 15pt;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:lighter;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px)  
{
    #quotes
    {
        background-color: #929497;
        color: #fff;
        font-size: 18pt;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    #quotes p
    {
        font-size: 18pt;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }

    #quotes span
    {
        font-size: 15pt;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px)  
{
    #quotes
    {
        background-color: #929497;
        color: #fff;
        font-size: 18pt;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    #quotes p
    {
        font-size: 18pt;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }

    #quotes span
    {
        font-size: 15pt;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px)  
{
    #quotes
    {
        background-color: #929497;
        color: #fff;
        font-size: 18pt;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    #quotes p
    {
        font-size: 18pt;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }

    #quotes span
    {
        font-size: 15pt;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:lighter;
        padding: 0 100px;
    }
}

#integrations
{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

#integrations h2
{
    text-align: center;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #a7a9ab;
}

#integrations ul
{
    padding-left: 0px;
}

#integrations ul li
{
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

#getting-started
{
    background-image: url(../images/Slack%20for%20iOS%20Upload.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#start
{
    color: #fff;
    font-size: 175px;
    margin-top: 20px;
}

#getting-started h2 a
{
    color: #fff;
    font-family:Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 24px;
    margin: 0px;
}

/* Recent Blog Post*/
#recent-blog-post 
{
}

.recent-post-excerpt-container 
{
    display:inline-block;
    width:70%;
    height:162px;
    vertical-align: top;
    padding: 10px;
}

#customers
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

#customers h2
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #a7a9ab;
    margin-bottom: 30px;
}

#customers ul
{
    padding-left: 0px;
}

#customers ul li
{
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

#customers img
{
    width: auto;
    height: 100px;
}

#pricing
{
    background-image: url(../images/LaptopP.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:50px;
    padding-bottom: 50px;
}

#free,
#starter,
#pro,
#email-us
{
    padding: 3px;
}

.tier:hover
{
    transform:scale(1.02);
    z-index:300;
}

/*tier-duration has a fixed height thus we need to add the heigh when on hover*/
.tier:hover .tier-duration
{
    height: 101px;
}

#free,
#starter,
#pro,
#email-us,
a:hover, a:focus
{
    text-decoration: none;
}

#free .tier-heading
{
    -webkit-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
}

#free .tier-offer
{
    -webkit-border-radius: 0 0 0 20px;
    border-radius: 0 0 0 20px;
}

#email-us .tier-heading
{
    -webkit-border-radius: 0 20px 0 0;
    border-radius: 0 20px 0 0;
}

#email-us .tier-offer
{
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
}


.tier-heading
{
    background-color:#A8216C;
    color: #fff;
    text-align:center;
    padding: 5px 0;
}

.tier-name
{
    font-size: 28px;
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
}

.package-container
{
    height: 170px;
    background-color: #fff;
    text-align: center;
}

.tier-subscription-fee
{
    height: 70px;
}

.charges
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 40px;
    color: #A8216C;
}

.month
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 15px;
    color: #A8216C;
    margin-top: -15px;
}

.email-label
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 38px;
    color: #A8216C; 
}

.tier-duration
{
    background-color: #E7E7E8;
    height: 100px;
}

.interactions-per-month
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 30px;
    color: #A8216C;
}

.interactions-per-month span
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 15px;
    color: #A8216C;
}

.interactions-per-month-label
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 15px;
    color: #A8216C;
    margin-top: -10px;
}

.added-feature
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 22px;
    color: #A8216C;
    margin-top: 5px; 
}

.contact-details-label
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 20px;
    color: #A8216C;
    margin-top: 10px;
}

.email-address
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 15px;
    color: #A8216C;
}

.tier-offer
{
    text-align: center;
    background-color: #D0D1D2;
    height: 80px;
}

.unlimited-label
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 24px;
    color: #A8216C;
}

.unlimited-features
{
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
    font-size: 15px;
    color: #A8216C;
    margin-top: -5px;
}

.mail
{
    font-size: 68px;
    color: #A8216C;
    font-weight: bold;
    margin-top: 4px;
}

.free,
.starter,
.pro,
.contact-us
{
    padding: 0px;
    display: inline-block;
}

#pricing img:hover
{
    transform:scale(1.02);
    z-index:300;
}

#tier
{
    padding: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    color: #A6206B;
    border-color: #fff;
}

.nav-tabs a
{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Helvetica,Arial,sans-serif ;
    font-weight:lighter;
}

.nav-tabs a:hover
{
    text-decoration: none;
    color: #A6206B;
}

#interaction
{
    font-size: 18pt;
    font-family:Helvetica,Arial,sans-serif;
    font-weight:lighter;
    color: #fff;
    text-align: center;
    margin-top:20px; 
}

/* Extra Small devices (768px and below) */
@media (max-width:768px)  
{
    #nairobi
    {
         border-right: none;
    }

    #dc
    {
        border-left: none;
    }

    #nairobi,
    #dc
    {
        padding: 0px;
        margin: 40px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px)  
{
    #nairobi
    {
         border-right: none;
    }

    #dc
    {
        border-left: none;
    }

    #nairobi,
    #dc
    {
        padding: 0px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px)  
{
    #nairobi
    {
         border-right: 10px solid #A6206B;
    }

    #dc
    {
        border-left: 10px solid #A6206B;
    }

    #nairobi,
    #dc
    {
        padding: 0px;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px)  
{
    #nairobi
    {
         border-right: 10px solid #A6206B;
    }

    #dc
    {
        border-left: 10px solid #A6206B;
    }

    #nairobi,
    #dc
    {
        padding: 0px;
    }
}

footer
{
    background-color: #A6206B;
    color: #fff;
}

#divider
{
    margin-top: 50px;
    margin-left: -6px;
}

#vert
{
    padding: 0px;
}

#info
{
    margin-top: 50px;
}

/* Extra Small devices (768px and below) */
@media (max-width:768px)  
{
    #info
    {
        border: none;
    }
    
    #info h2
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 35px;
        color: #fff;
    }

    #info p
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 20px;
        color: #fff;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px)  
{
    #info h2
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 35px;
        color: #fff;
    }

    #info p
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 20px;
        color: #fff;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px)  
{
    #info h2
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 35px;
        color: #fff;
    }

    #info p
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 20px;
        margin-bottom: 32px;
        color: #fff;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px)  
{
    #info h2
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 35px;
        color: #fff;
        margin-left: 70px;
    }

    #info p
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 20px;
        color: #fff;
        margin: 10px 70px 32px 70px;
    }
}

/* Extra Small devices (768px and below) */
@media (max-width:768px)  
{
    #contact-links
    {
        margin-top: 50px;
        border-left: none;
    }

    #contact-links h2
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 35px;
        color: #fff;
    }
    
    #contact-links li a
    {
        color: #fff;
        font-size: 15px;
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px)  
{
    #contact-links
    {
        margin-top: 50px;
        border-left: none;
    }

    #contact-links h2
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 35px;
        color: #fff;
    }
    
    #contact-links li a
    {
        color: #fff;
        font-size: 15px;
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px)  
{
    #contact-links
    {
        margin-top: 50px;
    }

    #contact-links h2
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 35px;
        color: #fff;
        margin-left: 70px;
    }
    
    #contact-links ul
    {
        margin-left: 50px;
    }
    
    #contact-links li a
    {
        color: #fff;
        font-size: 18px;
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px)  
{
    #contact-links
    {
        margin-top: 50px;
    }

    #contact-links h2
    {
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
        font-size: 35px;
        color: #fff;
        margin-left: 70px;
    }
    
    #contact-links ul
    {
        margin-left: 50px;
    }
    
    #contact-links li a
    {
        color: #fff;
        font-size: 18px;
        font-family: Helvetica,Arial,sans-serif ;
        font-weight:lighter;
    }
}

.list-group
{
    border-radius: 0px;
    box-shadow: none;
}

.list-group-item
{
    background-color: #A6206B;
    border: none;
}

/*-webkit-border-radius: 0 20px 0 0;border-radius: 0 20px 0 0;*/
/*-webkit-border-radius: 0 0 20px 0;border-radius: 0 0 20px 0;*/